---
type Props = {
  title: string
  link?: string
}

const { title, link = '/', ...props } = Astro.props
---

<div class="lg:-ml-[153px]">
  <a href={link} class="inline-block">
    <svg
      fill="#000000"
      width="133"
      height="50"
      viewBox="0 0 133 50"
      aria-labelledby={title}
      xmlns="http://www.w3.org/2000/svg"
      style={{ display: 'block' }}
      {...props}
    >
      <title id={title}>{title}</title>
      <path
        d="m61.878 44.3c-1.65 0-3.06-1.26-3.06-2.91 0-1.62 1.38-2.97 3.06-2.97 1.62 0 3 1.29 3 2.94s-1.38 2.94-3 2.94zm17.574-10.41c-.54-.72-1.62-1.2-2.61-1.2-2.07 0-3.45 1.77-3.45 3.84s1.35 3.81 3.51 3.81c.99 0 2.07-.39 2.67-1.11l2.73 3.33c-1.23 1.2-3.33 1.92-5.52 1.92-4.71 0-8.37-3-8.37-7.95 0-4.86 3.69-7.95 8.34-7.95 2.13 0 4.38.81 5.55 2.01zm13.228 10.59c-4.5 0-8.28-3.12-8.28-8.01s3.78-7.89 8.28-7.89c4.53 0 8.31 3 8.31 7.89s-3.78 8.01-8.31 8.01zm0-11.82c-2.31 0-3.51 1.89-3.51 3.81s1.23 3.87 3.54 3.87 3.54-1.95 3.54-3.87-1.26-3.81-3.57-3.81zm31.405 11.34v-8.16c0-1.71-.39-3.15-2.13-3.15-1.68 0-2.49 1.56-2.49 3.24v8.07h-4.92v-8.52c0-1.71-.66-2.79-2.13-2.79-1.56 0-2.46 1.41-2.46 3.21v8.1h-4.95v-14.94h4.77v2.07h.06c.69-1.26 2.22-2.49 4.47-2.49 2.16 0 3.66.93 4.5 2.55.99-1.56 2.55-2.55 4.77-2.55 4.05 0 5.43 3.3 5.43 6.12v9.24zm-113.715-17.8c-2.61 0-5.67-.84-7.68-2.34l2.46-3.51c1.44 1.26 3.27 1.89 4.95 1.89 2.88 0 4.23-1.68 4.23-4.17v-.9h-.09c-.93 1.2-2.55 1.98-4.53 1.98-4.53 0-7.14-3.54-7.14-7.68s2.61-7.83 7.11-7.83c1.86 0 3.72.75 4.77 2.34h.06v-1.92h4.65v13.53c0 5.85-3.48 8.61-8.79 8.61zm.48-18.54c-2.22 0-3.51 1.71-3.51 3.78 0 1.98 1.29 3.81 3.51 3.81 2.25 0 3.63-1.77 3.63-3.81s-1.41-3.78-3.63-3.78zm21.936 4.83h-.63c-2.16 0-4.59.27-4.59 2.04 0 1.14 1.14 1.53 2.13 1.53 1.98 0 3.09-1.2 3.09-3.06zm-9.03-6.39c1.74-1.65 4.23-2.52 6.66-2.52 5.01 0 6.87 2.46 6.87 7.89v7.53h-4.5v-1.59h-.09c-.75 1.23-2.46 1.95-4.23 1.95-2.37 0-5.43-1.17-5.43-4.68 0-4.32 5.25-5.04 9.6-5.04v-.24c0-1.47-1.17-2.16-2.7-2.16-1.41 0-2.79.69-3.69 1.53zm27.612 13.32c-1.83 0-3.6-.78-4.53-2.07h-.06v8.85h-4.92v-22.14h4.68v1.83h.09c.9-1.2 2.58-2.25 4.77-2.25 4.35 0 7.08 3.66 7.08 7.83s-2.61 7.95-7.11 7.95zm-1.17-11.76c-2.22 0-3.6 1.95-3.6 3.84 0 1.95 1.38 3.84 3.6 3.84 2.34 0 3.51-1.92 3.51-3.87 0-1.92-1.17-3.81-3.51-3.81zm22.117 11.34v-2.07h-.06c-.69 1.32-2.4 2.49-4.5 2.49-4.02 0-5.43-3.12-5.43-6.12v-9.24h4.95v8.1c0 1.68.42 3.18 2.22 3.18 1.71 0 2.64-1.5 2.64-3.21v-8.07h4.92v14.94zm19.178-10.92c-.45-.12-.87-.15-1.26-.15-2.64 0-3.51 2.16-3.51 3.39v7.68h-4.92v-14.94h4.74v2.16h.06c.75-1.5 2.22-2.58 4.05-2.58.39 0 .81.03 1.05.12zm10.107 11.4c-4.5 0-8.28-3.12-8.28-8.01s3.78-7.89 8.28-7.89c4.53 0 8.31 3 8.31 7.89s-3.78 8.01-8.31 8.01zm0-11.82c-2.31 0-3.51 1.89-3.51 3.81s1.23 3.87 3.54 3.87 3.54-1.95 3.54-3.87-1.26-3.81-3.57-3.81zm21.565 11.34h-5.31l-5.88-14.94h5.43l3.15 9.69h.09l3.15-9.69h5.25z"
      ></path>
    </svg>
  </a>
</div>
